/* Nested Selectors */
@import "partials/variables";

.header {
    padding: 30px 0;
    background: $primary-color;
    color: $secondaryColor;

    .logo {
        $opacityImg: 0.5;

        img {
            max-width: 100%;
            height: auto;
            opacity: $opacityImg;
        }
    }
}

$size: 10;
.box {
    // font-size: $size * 1%;
    // font-size: $size + vw;
    font-size: $size + px;
}

$property: background-color;
.box {
    #{$property}: red;
}

$selector: ".column-medium";
$number: 5;

#{$selector} {
    color: aqua;
}

// Cách 1:
#{$selector}-#{$number} {
    background: $secondaryColor;
}

// Cách 2:
#{$selector + "-" + $number} {
    background: $primary-color;
}
